@import "./sassConfig.scss";
@import "./elementui.scss";
@import "./normalize.scss";
@import "./svgicon.scss";

//公共样式自定义
.pull-right{float: right;}
.padding-top-25{padding-top: 25px;}
.w-100{width: 120px;}